<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create new Sprint</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="createSprintForm" (submit)="onSubmit()">
        <div>
            <label for="name" class="form-label">Sprint Name: </label>
            <input id="name" class="form-control" type="text" placeholder="SprintName" formControlName="sprintNameControl" />
        </div>
    
        <div>
            <label for="description" class="form-label">Description: </label>
            <input id="description" class="form-control" type="text" placeholder="Description" formControlName="descriptionControl">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-outline-success" (click) = "onSubmit()">Save</button>
</div>

